[Unit]
Description=Set random passwords
ConditionFirstBoot=yes
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/sbin/randomize-passwords.sh

[Install]
WantedBy=multi-user.target
