[Unit]
Description=Copy the NAS rustic repo to jotta
Requires=zfs-tank.service download-secrets.service
After=zfs-tank.service download-secrets.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=TZ=Pacific/Auckland
EnvironmentFile=/run/rustic/env
ExecStart=/usr/local/sbin/rustic-job nas-copy /usr/local/bin/rustic -P nas copy
